    body {
        background-color: #EFEFEF;
        height: 100%;
    }
    
    .header {
        z-index: 5;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(226, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 98%);
        position: fixed;
        width: 100%;
        height: 100px;
        color: black;
        font-size: 1.2em;
    }
    
    .header b {
        margin-left: 14px;
        margin-right: 8px;
    }
    
    .dropdownIcon {
        max-width: 60px;
        max-height: 60px;
        position: relative;
        margin-top: 20px;
        cursor: pointer;
        padding: 5px;
        transition: background-color 1s;
    }
    
    .dropdown {
        display: none;
        position: absolute;
        right: 5%;
    }
    
    .dropdown-content {
        display: none;
        right: 0;
        font-size: 1.05em;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 170px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 3;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd
    }
    
    .dropdownIcon:hover {
        background-color: rgba(10, 10, 10, 0.2);
    }
    
    .show {
        display: block;
    }
    
    .searchBar {
        position: relative;
        float: left;
        left: 10%;
        width: 30%;
        height: 50px;
        padding: 15px 22px;
        margin: 25px 5px;
        box-sizing: border-box;
        border: 6px solid rgba(13, 130, 223, 0.95);
        border-radius: 5px;
        font-size: 18px;
    }
    
    .btn-search {
        position: relative;
        float: left;
        left: 10%;
        background-color: rgba(13, 130, 223, 0.95);
        border: none;
        border-radius: 5%;
        color: white;
        padding: 13px 28px;
        margin: 22px 5px;
        cursor: pointer;
        transition: background-color 0.5s;
        transition-timing-function: ease;
    }
    
    .btn-search:hover {
        background-color: rgba(13, 130, 223, 0.5);
    }
    
    .mainIcon {
        position: relative;
        float: left;
        cursor: pointer;
        padding: 6px;
        margin: 4px;
        margin-top: 10px;
        width: 150px;
        height: 75px;
        left: 2%;
    }
    
    .items-wrapper {
        min-width: 90%;
    }
    
    .menuOptions {
        cursor: pointer;
        position: relative;
        float: left;
        padding: 6px;
        margin: 18px 10px;
        left: 10%;
        font-family: Geneva, Arial, Helvetica, sans-serif;
    }
    
    .cart-modal {
        width: 60%;
        margin: auto;
    }
    
    .current-category {
        position: relative;
        float: left;
        padding: 5px;
        margin-top: 28px;
        left: 6%;
        font-size: 1.2em;
        font-family: Geneva, Arial, Helvetica, sans-serif;
    }
    
    .minus-count,
    .plus-count {
        font-size: 1.5em;
        max-height: 50px;
        max-width: 40px;
        min-width: 40px;
        margin: 6px;
        padding: 13px;
        padding-top: 6px;
    }
    
    .minus-count {
        padding-left: 12px;
    }
    
    .totalSum {
        color: black;
        font-size: 1.3em;
        position: relative;
        left: -3%;
    }
    
    .container {
        margin-top: 100px;
    }
    
    .card {
        padding: 10px 2px 10px;
        margin: 8px;
        max-width: 250px;
        min-width: 240px;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        transition: max-width 1s;
    }
    
    .priceWrapper {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        max-height: 80px;
        padding: 8px;
    }
    
    .card img {
        border-radius: 15%;
        width: 200px;
        height: 200px;
        margin: 0% auto 5%;
    }
    
    .item-name,
    .newPrice,
    .oldPrice {
        color: black;
        line-height: 2.5;
        font-size: 1.4em;
        margin: 2px;
        padding: 2px;
    }
    
    .oldPrice {
        color: gray;
    }
    
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
        100% {
            box-shadow: 0 0 0 5px rgba(58, 71, 213, 0.0)
        }
    }
    
    .btn-buy {
        font-size: 1.2em;
        background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
        border: none;
        color: white;
        margin: 10px 2px;
        font-weight: bold;
        min-width: 100px;
        border-radius: 6%;
        animation: pulse 2s infinite;
    }
    
    .btn-buy:hover {
        background: rgb(0, 159, 193);
        background: linear-gradient(90deg, rgba(0, 159, 193, 1) 0%, rgba(20, 25, 83, 1) 100%);
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    footer {
        text-align: center;
        background-color: #212529;
    }
    
    footer img {
        max-width: 40px;
        max-height: 40px;
        transition: max-width 1s, max-height 1s, transform 1s;
    }
    
    footer img:hover {
        max-width: 50px;
        max-height: 50px;
        transform: rotate(30deg);
    }
    
    @media print {
        .current-category::after {
                content: attr(content) "All items available on our website!";
            }
            nav {
                display: none;
            }
            input[type="submit"],
            input[type="text"] {
                display: none;
            }
            
    }
        @media screen and (max-width: 1270px) {
            nav {
                display: none;
            }
            .dropdown {
                display: inline;
            }
        }
        @media screen and (max-width: 890px) {
            .current-category {
                display: none;
            }
        }
        @media screen and (max-width: 550px) {
            .mainIcon {
                display: none;
            }
        }